   <!--Navigation bar-->
   <nav class="navbar navbar-light fixed-top bg-light">
    <a class="color-red" href="Widget-List.html"><i class="fas fa-chevron-left"></i></a>
    <a class="navbar-brand" href="Widget-Heading.html "> Edit Widget</a>
    <a class="float-right color-red" href="Widget-List.html"><i class="fas fa-check"></i></a>  
</nav>
<!--List on the middle of the  edit widget-->
<div class="container"> 
    <form>
        <div clas="form-group">
    <label for="name"> <b>Name</b></label>
    <input type="text" id="name" class="form-control">
        </div>
        <!--Text for the main page-->
        <div clas="form-group">
                <label for="text"> <b>Text</b></label>
                <input type="text" id="name" class="form-control">
            </div>
            <!--Size for the main page-->
            <div class="form-group">
                    <label for="size"> <b>Size</b></label>
                    <input type="number" id="size" class="form-control">
                </div>
    
            <a href="Widget-List.html" class="btn btn-danger btn-block" > Delete</a>
    </form>
</div>
   
 <!--Bottom Navigation Bar and Icon -->
<nav class="navbar navbar-light fixed-bottom bg-light">
    <div class="full-width" >
        <a class="color-red float-right" href="../User/Profile.html"><i class="fas fa-user"></i></a> 
    </div>
  </nav>