 <!--Navigation Bar-->
 <nav class="navbar navbar-light fixed-top bg-light">
  <a class="color-red" href="../Website/website-List.html "><i class="fas fa-chevron-left"></i></a>
  <a class="navbar-brand" href="Page-List.html padding-left">Pages</a>
  <a class="color-red" href="Page-New.html"> <i class="fas fa-plus"></i></a>

  </nav>
<!--Lists-->
<div class="container-fluid">
<ul class="list-group">
<li class="list-group-item">
<a href="../Widgets/widget-List.html">Blogging Post</a>
<a class="float-right " href="Page-Edit.html"><i class="fas fa-cog"></i></a>
</li>
<li class="list-group-item">
<a href="../Widgets/widget-List.html">Blogs</a>
<a class="float-right" href="Page-Edit.html"><i class="fas fa-cog"></i></a>
</li>
<li class="list-group-item">
<a href="../Widgets/widget-List.html">Home</a>
<a class="float-right" href="Page-Edit.html"><i class="fas fa-cog"></i></a>
</li>
<li class="list-group-item">
<a href="../Widgets/widget-List.html">About</a>
<a class="float-right" href="Page-Edit.html"><i class="fas fa-cog"></i></a>
</li>
<li class="list-group-item">
  <a href="../Widgets/widget-List.html">Contact Us</a>
  <a class="float-right" href="Page-Edit.html"><i class="fas fa-cog"></i></a>
</li>

</ul>
</div>
<!--Footer-->
<nav class="navbar navbar-light fixed-bottom bg-light">
<div class="full-width" >
<a class="color-red float-right" href="../User/Profile.html"><i class="fas fa-user"></i></a> 
</div>
</nav>