  <!--Navigation bar-->
  <nav class="navbar navbar-light fixed-top bg-light">
    <a class="color-red" routerLink="/user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-chevron-left"></i></a>
    <a class="navbar-brand" routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid "> Edit Youtube Widget</a>
    <a class="float-right color-red" routerLink="/user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-check"></i></a>
    
</nav>
<!--List on the middle of the  edit widget-->
<div class="container"> 
    <form>
        <div clas="form-group">
    <label for="name"> <b>Name</b></label>
    <input type="text" id="name" class="form-control">
        </div>
        <!--Text for the main page-->
        <div clas="form-group">
                <label for="text"> <b>Text</b></label>
                <input type="text" id="name" class="form-control">
            </div>
            <!--URL for the main page-->
            <div class="form-group">
                    <label for="url"> <b>URL</b></label>
                    <input type="text" id="url" class="form-control">
                </div>
                 <!--Width for the main page-->
            <div class="form-group">
                    <label for="width"> <b>Width</b></label>
                    <input type="text" id="width" class="form-control">
                </div>
    
            <a routerLink="/user/:uid/website/:wid/page/:pid/widget" class="btn btn-danger btn-block" > Delete</a>
    </form>
</div>
   
 <!--Bottom Navigation Bar and Icon -->
<nav class="navbar navbar-light fixed-bottom bg-light">
    <div class="full-width" >
        <a class="color-red float-right" routerLink="/user/:uid"><i class="fas fa-user"></i></a> 
    </div>
  </nav>