/* You can add global styles to this file, and also import other style files */
body{

    padding-top:70px;
    padding-bottom: 70px;
}
.color-white {
    color: white;
    }

    .color-black {
        color: black;
        }

    .color-red{
        color: red;
    }
.full-width{

    width: 100%;
}

.font-lg {
    font-size: 24px;
}

.left-width{
width: 80%;

         } 
         .right-width{
             width: 50%;
         }
a:hover{
             text-decoration: none;
             color: black;
            
         }
         .padding-left{
             padding-left: 40px;
         }
        .padding-right{
            right:30px;
        }

         .display-inline{
             display: inline;
            }

.navbar-height {
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.absolute-right{
    position: absolute;
    right: 10px;
    z-index:2; 
}

.absolute.left{
    position: left;
    left:2px;
}

.icon-right {
    right: 0px;
}